[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python run.py"
